In [1]:
# Chapter 1 Exercises

In [2]:
# Arithmetic Operators

# Addition

40+2

# Subtraction

43-1

# Multiplication

6*7

# Division

84 / 2

# Note: 84 / 2 will return a float value of 42.0

# Exponentation

6**2 + 6

42

In [3]:
# Different Types and Values: Integer

type(2)

int

In [4]:
# Different Types and Values: Float

type(42.0)

float

In [5]:
# Different Types and Values: String
type('Hello, World!')

str

In [6]:
# Using commas in large numbers 

# In several of the following cells I will attempt to have the output return a value of '1,000,000' 
# to highlight the error in using commas with integers.

In [7]:
1,000,000

# Undesired outcome output as output will return (1, 0, 0)

(1, 0, 0)

In [8]:
print(1,000,000)

# Undesired outcome as output will return (1 0 0)

1 0 0

In [9]:
1000000
print(1000000)

type(1000000)

# In this cell the output value is the correct type, an integer, but lacks commas.

1000000

int

In [10]:
print('1,000,000')

type('1,000,000')

# This cell returns an output value of 1,000,000.
# However as it is in between  a pair of 's it will be classified as a string.

1,000,000

str

In [11]:
# Exercise 1-1

# 1. In a print statement, what happens if you leave out one of the parentheses?

In [12]:
# Exercise 1-1 (continued)

# 2. In a print statement, what happens if you leave out both of the parentheses?

In [13]:
# Exercise 1-1 (continued)

# 3. If you are trying to print a string, what happens if you leave out one of the quotation marks?

In [14]:
# Exercise 1-1 (continued)

# 4. If you are trying to print a string, what happens if you leave out both of the quotation marks?

In [15]:
# Exercise 1-1 (continued)

# 5. You can use a minus sign to make a negative number like -2. 
# What happens if you put a plus sign "+" before a number?

In [16]:
# Exercise 1-1 (continued)

# 6. You can use a minus sign to make a negative number like -2. 
# What happens if you put a double plus sign "++" between two numbers?

In [17]:
# Exercise 1-1 (continued)

# 7. In math notation, leading zeroes are okay, as in 02. What happens if you try this in Python?

In [18]:
# Exercise 1-1 (continued)

# 8. What happens if you have two values with no operator between them?

In [19]:
# Exercise 1-2 

# 1. How many seconds are there in 42 minutes and 42 seconds?

In [20]:
# Exercise 1-2 (continued)

# 2. How many miles are there in 10 kilometers? Hint: There are 1.61 kilometers in a mile.

In [21]:
# Exercise 1-2 (continued)

# 3. If you run a 10 kilometer race in 42 minutes and 42 seconds, 
# what is your average pace (time per mile in minutes and seconds)?

In [22]:
# Exercise 1-2 (continued)

# 4.  If you run a 10 kilometer race in 42 minutes and 42 seconds, 
# what is your average speed in miles per hour?