In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Create a test DataFrame using a dictionary
test = {
    'Column A': [1, 2, 3, 4],
    'Column B': ['A', 'B', 'C', 'D'],
    'Column C': [True, False, True, False]
}

df = pd.DataFrame(test)

# Display the test DataFrame
df

   Column A Column B  Column C
0         1        A      True
1         2        B     False
2         3        C      True
3         4        D     False

In [6]:
# Path to CSV file
file_path = 'C:/Users/Admin/Desktop/DADS/Data Sets/Kaggle/gsearch_jobs_cleaned.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [ ]:
# Display the DataFrame
df

In [ ]:
# Extracting the most frequent job titles
top_job_titles = df['title'].value_counts().nlargest(10)

# Plotting the most frequent job titles
plt.figure(figsize=(10, 8))
sns.barplot(x=top_job_titles.values, y=top_job_titles.index, palette="Blues_r")
plt.title('Top 10 Most Frequent Job Titles')
plt.xlabel('Frequency')
plt.ylabel('Job Titles')
plt.show()