In [4]:
import pandas as pd

# Create a test DataFrame using a dictionary
test = {
    'Column A': [1, 2, 3, 4],
    'Column B': ['A', 'B', 'C', 'D'],
    'Column C': [True, False, True, False]
}

df = pd.DataFrame(test)

# Display the DataFrame
df

   Column A Column B  Column C
0         1        A      True
1         2        B     False
2         3        C      True
3         4        D     False

In [ ]:
# Create a new DataFrame using a dictionary
data = {
    'Column A': [1, 2, 3, 4],
    'Column B': ['A', 'B', 'C', 'D'],
    'Column C': [True, False, True, False]
}

df = pd.DataFrame(data)

# Display the DataFrame
df