In [1]:
# Dan advice: I'll need teams and players on each team 
# 3/18/21 Create GH repo for this and invite GH dwalsh@concordanalyticsllc.com

In [2]:
import requests # allows access of internet, will only hand me info, won't allow me to parse it
from bs4 import BeautifulSoup # this library is what will allow me to parse information grabbed from requests
import pandas as pd # Allows creation for databases
import re # Short for regular expressions
import requests #

In [3]:
link = "https://www.baseball-reference.com/leagues/MLB/2020-standard-batting.shtml"

In [4]:
page = requests.get(link)

In [5]:
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:
# Change repo from MLB to Sports then add MLB directory within it

In [12]:
path = 'C:/Users/Patrick/Desktop/DADS/Mannover_Cup_draft.xlsx'

In [13]:
pd.read_excel(path, sheet_name = 'Ed')

,Unnamed: 0,Unnamed: 1,***Example Entry Format***,Unnamed: 3,Unnamed: 4,Unnamed: 5,Teams,3 Letter Shorthand,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Draft Pick,Player,Player's Team,Player Position,Manager,NaN,Arizona Diamondbacks,ARI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Freddie Freeman,ATL,1B,Ed,NaN,Atlanta Braves,ATL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Baltimore Orioles,BAL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Boston Red Sox,BOS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,Chicago Cubs,CHC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN