In [1]:
# Table Extraction: Extract CSV Data contained within Websites

In [2]:
# Import libraries
import pandas as pd

In [3]:
# Read a CSV file from the website https://www.football-data.co.uk/data.php
pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

In [4]:
# Assign variable to 2022-2023 Premier League data

df22_23 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [5]:
# Show dataframe 
df22_23

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

In [8]:
# Rename columns 
df22_23.rename(columns={'FTHG':'full_time_Home_Team_goals',
                       'FTAG':'full_time_Away_Team_goals'})

,Div,Date,Time,HomeTeam,AwayTeam,full_time_Home_Team_goals,full_time_Away_Team_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,28/05/2023,16:30,Everton,Bournemouth,1,0,H,0,0,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
376,E0,28/05/2023,16:30,Leeds,Tottenham,1,4,A,0,1,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
377,E0,28/05/2023,16:30,Leicester,West Ham,2,1,H,1,0,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
378,E0,28/05/2023,16:30,Man United,Fulham,2,1,H,1,1,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
379,E0,28/05/2023,16:30,Southampton,Liverpool,4,4,D,2,2,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98